* {
  box-sizing: border-box;
}

:root {
  --main-bg: hsl(13, 31%, 94%);
  --white-clr: hsl(360, 100%, 100%);
  --text-red: hsl(14, 86%, 42%);
}

body {
  margin: 0;
  background-color: var(--main-bg);
}

.container {
  padding: 40px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 20px;
}
.product {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 280px;
}

.product img {
  max-width: 100%;
  border-radius: 15px;
}

.product .img-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.product button {
  position: absolute;
  height: 56px;
  border-radius: 36px;
  border: 1px solid hsl(12, 20%, 44%);
  max-width: 250px;
  min-width: 150px;
  background-color: white;
  bottom: -24px;
  left: 0;
  right: 0;
  font-size: 18px;
  margin: 0 auto;
  color: hsl(14, 65%, 9%);
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.product-category {
  color: hsl(12, 20%, 44%);
  margin: 0;
}

.product-content-wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.product-title {
  font-size: 20px;
  color: hsl(14, 65%, 9%);
  font-weight: 900;
}

.product-price {
  color: var(--text-red);
  font-size: 18px;
  font-weight: 600;
}

.products-wrapper {
  display: flex;
  gap: 40px;
  position: relative;
}

.products {
  flex: 8;
}

.cart,
.cart-empty {
  flex: 2;
  background-color: var(--white-clr);
  height: max-content;
  min-height: 350px;
  padding: 16px;
  border-radius: 12px;
  min-width: 250px;
  position: sticky;
  top: 100px;
}

.cart-empty img {
  display: block;
  margin: auto;
}

.cart ul {
  padding: 0;
  list-style-position: inside;
  list-style-type: none;
}

.cart ul li {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.646);
  padding-bottom: 16px;
}
.cart-title {
  color: var(--text-red);
}

.cart-product-title {
  margin-bottom: 10px;
}

.cart-stats {
  display: flex;
  justify-content: space-between;
}

.cart-stats > div:first-child {
  display: flex;
  gap: 10px;
}

.cart-stats > div:first-child > span:first-child {
  color: var(--text-red);
}

@media (max-width: 768px) {
  .container {
    padding: 16px;
  }
}
